<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DASHBOARD</title>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../stylesheets/style.css" />
  </head>
  <body>
    <div class="dashBoardContainer">
      <div class="dashboardSection1">
        <div class="dashboardNavContainer">
          <div class="home">
            <a href="/dashboard"
              ><span class="homeIcon"><i class="ri-home-fill"></i></span>
              <span class="heading"><h4>Home</h4></span></a
            >
          </div>
          <div class="home">
            <a href="/search"
              ><span class="homeIcon"><i class="ri-search-line"></i></span>
              <span class="heading"><h4>Search</h4></span></a
            >
          </div>
        </div>
        <div class="dashboardUserPlaylist">
           <div class="dashboardUserPlaylist_Header">
              <div class="dashboardUserPlaylist_Header_section-1">
                <div class="dashboardUserPlaylist_heading">
                  <i class="ri-align-justify"></i>
                  <h4>Your Library</h4>
                </div>
                <i class="ri-add-line"></i>
              </div>
           </div>
           <div class="dashboardUserPlaylist_songs">
            <% if(user.library.length == 0){%>
                <h4 class="dashboardUserPlaylist_songs_title">NO SONGS SAVED !</h4>
            <%}else{%>
               <%user.library.forEach(function(elem){%>
                <h4><a href=""><span><%=elem.albumName%></span> <span id="dot">.</span> <span><%=elem.albumCategory%></span></a></h4>
                 <h4><a href="/deletePlaylist/<%=elem._id%>"><i class="ri-close-line"></i></a></h4>
               <%})%>
            <%}%>
           </div>
        </div>
      </div>