<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <div id="main-box">
        <div class="spotify-form-section">
            <div class="spotify-logo">
              <i class="ri-spotify-fill"></i>
               <h1 class="title">Spotify</h1>
            </div>
            <div class="spotify-form">
                <form action="" class="form-section" method="post">
                  <div class="nested-form">
                    <input type="text" name="username" id="username" placeholder="Username">
                    <input type="text" name="name" id="name" placeholder=" Full Name">
                    <input type="email" name="email" id="email" placeholder="Email">
                    <input type="text" name="password" id="password" placeholder="Password">
                  </div>
                  <div class="gender"> 
                      <select id="genderSelect" name="gender">
                          <option value="" selected>Select the gender</option>
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                          <option value="transgender">Transgender</option>
                      </select>
                  </div>
                  <div class="button-submit">
                    <button class="button">Sign up</button>
                  </div>
                </form>
                <div class="termsAndcondition">
                   <div class="terms">
                    <p>by clicking on <span>on sign up</span> you agree to spotify terms and condition</p>
                   </div>
                   <div class="condition">
                     <p>To Learns more about how spotify collects,uses,shares and protects your personal data please
                       read Spotify's <span>Privacy Policy</span>
                     </p>
                   </div>
                </div>
            </div>
        </div>
        <div class="spotify-poster-section">
            <div class="small_heading">
                <h4>Already have an Account?</h4>
                <button class="buttonLogin"><a href="/login">Login</a></button>
            </div> 
        </div>
     </div>
     <script src="../javascripts/script.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/gsap@3.11/dist/gsap.min.js"></script>
  </body>
</html>
