<!DOCTYPE html>
<html>
  <head>
    <title>HOME PAGE</title>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <div class="indexContainer">
      <div class="indexOverlayer">
         <div class="indexWrapper">
             <div class="indexSection-1">
                  <div class="indexIcons">
                    <i class="ri-spotify-fill" id="spotify"></i>
                    <h3>Spotify</h3>
                  </div>
                  <div class="indexSignUpButton">
                       <button><a href="/register">Sign Up</a></button>
                  </div>
                  <div class="indexSubHeading">
                      <div class="line"></div>
                      <div class="Subheading">Already Have an Account</div>
                      <div class="line"></div>
                  </div>
                  <div class="indexLoginButton">
                    <button><a href="/login">Log In</a></button>
                 </div>
             </div>
             <div class="indexSection-2">
                 <div class="indexSection-2_ContentHeading" id="head-1">
                     <h1>Get The right Music,</h1>
                     <h1>right now</h1>
                 </div>
                 <div class="indexSection-2_ContentHeading" id="head-2">
                     <h3>Listen to million songs for free.</h3>
                 </div>
                 <div class="indexSection-2_ContentHeading" id="head-3" >
                      <div class="indexSection-2_ContentHeading-details">
                        <i class="ri-check-line"></i>
                        <h5>Search & discover music you'll love</h5>
                      </div>
                      <div class="indexSection-2_ContentHeading-details">
                        <i class="ri-check-line"></i>
                        <h5>Create Playlist for your favourite music</h5>
                      </div>
                 </div>
             </div>
         </div>
      </div>
     </div>
     <script src="../javascripts/script.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/gsap@3.11/dist/gsap.min.js"></script>
  </body>
</html>  
