<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <div class="Login-Container">
        <div class="Login-Section">
          <div class="Login-box">
               <div class="Login_Logo"><span><i class="ri-spotify-fill"></i></span><h2>Spotify</h2></div>
              <div class="Login_heading"><h2>WELCOME BACK</h2><p>Don't have a account <span><a href="/register">sign up</a></span></p></div>
              <div class="Login_form-section">
                  <form action="" method="post" class="Login_form-section_form">
                      <div class="Login_form-Input_section">
                          <input type="text" name="username" id="input" placeholder="username">
                          <input type="password" name="password" id="input" placeholder="password">
                      </div>
                      <div class="Loginbutton">
                          <button>SIGN IN</button>
                      </div>
                  </form>
              </div>
          </div>
        </div>
        <div class="Login_Poster"> </div>
    </div> 
</body>
</html>